@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    margin: 10px;
    overflow: hidden;
    background-color: black;
}
nav{
    color: white;
    display:flex;
    justify-content: space-between;
    margin-right:10px;
    margin-top:3px;
    margin-left: 10px;
    font-family: "bodoni moda",serif;
    font-weight: 300;
    font-style: normal;
    font-size:24px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.4s linear;
}

a:hover {
    color: rgb(255, 115, 0);
    transform: scale(1.1);
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 20px;
    overflow: hidden;
    margin: none;
    height: 100vh;
    position: relative; 
}

.parent-keyword {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden; 
    margin: none;
    font-size: 10vw;
}

.parent-paragraph {
    color: white;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: none;
    animation: appear 3s forwards;
}

.parent-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2; 
    grid-row-end: 11;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-items: start;
    align-items: start;
    justify-content: space-between;
    animation: slide-in 3s forwards;
}

.parent-image2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7; 
    grid-row-end: 11;
    margin: 0; 
    padding: 0; 
    display: flex;
    align-items: start;
    justify-items: start;
    justify-content: space-between;
    animation: slide-in-2 3s forwards;
}

img {
    width: 20%;
    height: 100%;
}

p {
    margin: 0;
    font-family: "Rajdhani", serif;
    font-size: 2vw;
}

@keyframes appear {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}

@keyframes slide-in-2 {
    0% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    25% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}



h1:hover {
    color: rgb(255, 255, 255);
    font-weight: 900;
    transform: scaleY(1.5); 
    transition: all 0.4s linear;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    25% { opacity: 0.75; }
    35% { opacity: 0.2; }
    50% { opacity: 1; }
    75% { opacity: 0.4; }
    85% { opacity: 1; }
    100% { opacity: 1; }
}


@media (max-width: 600px) {/* mobileview */
    .parent-paragraph {
        font-size: 16px;
        color: white;
        grid-column-start:1;
        grid-column-end: 11;
        grid-row-start: 7;
        grid-row-end: 11;
        display: flex;
        justify-content: start;
        align-items: start;
        margin: none;
        animation: appear 3s forwards;
    }
    .parent-image {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2; 
        grid-row-end:6;
        margin: 0; 
        padding: 0;
        display: flex;
        justify-items: start;
        align-items: start;
        justify-content: space-between;
        animation: slide-in 3s forwards;
    }
    
    .parent-image2 {
        grid-column-start: 5;
        grid-column-end: 11;
        grid-row-start: 5; 
        grid-row-end: 7;
        margin: 0; 
        padding: 0; 
        display: flex;
        align-items: start;
        justify-items: start;
        justify-content: space-between;
        animation: slide-in-2 3s forwards;
    }
}