@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    margin:0;
    overflow:hidden;
}

nav{
    display:flex;
    justify-content: right;
    margin-right:10px;
    margin-top:3px;
    font-family: "Rajdhani", serif;
    font-weight: 300;
    font-style: normal;
    font-size:24px;
}

.figmagrid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 100vh; /* Set height to 100% of the viewport */
    overflow: hidden; /* Prevent scrolling */
    margin:none;
}

.figmagrid-title {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin:none;
}

h1 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: <400>; 
    font-style: normal;
    font-size: 80px;
    line-height:105%;
    letter-spacing:-0.2vh;
}

.black-key {
    background-color: black;
    color: white;
    padding: 0.8vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom:0;
    text-align: center;
    width: 5vh;
    height: 10vh;
    overflow: hidden;
    transition: transform 0.4s; /* Smooth transition for the animation */
    
}

.black-key:hover {
    transform: translateY(40px); /* Move up on hover */
}

.black-keys {
    display: flex; 
    justify-content: space-around; 
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .black-keys {
        display: none; 
    }
    h1{
        font-size: 24px;
    }
    .figmagrid-title {
        background-color: aqua;
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 10;
        display: flex; /* Use flexbox to center the content */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin:none;
    }
}