@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    margin:0;
    overflow:hidden;
    animation: fadein 2s;
}



a{
    text-decoration:none;
    color:black;
    transition: all 0.4s linear;
}



a:hover{
    color:rgb(0, 0, 0);
    transform: scale(1.1);
}

.figmagrid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 100vh; 
    overflow: hidden; /* Prevent scrolling */
    margin:none;
}

.figmagrid-title {/* mainpage title, fixed place */
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin:none;
}

h1 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: <400>; 
    font-style: normal;
    font-size: 80px;
    line-height:105%;
    letter-spacing:-0.2vh;
}

.black-key {
    background-color: black;
    color: black;
    padding: 0.8vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom:0;
    text-align: center;
    width: 5vh;
    height: 10vh;
    overflow: hidden;
    transition: transform 0.4s;
    
}

.black-key:hover {
    transform: translateY(40px); /* Move up on hover */
}

.black-keys {
    display: flex; 
    justify-content: space-around; 
    position: absolute;
    bottom: 0;
    width: 100%;
}
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 600px) {/* mobileview */
    .black-keys {
        display: none; 
    }
    h1{
        font-size: 20px;
    }
    .figmagrid-title {
        
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 10;
        display: flex; 
        justify-content: center; 
        align-items: center;
        margin:none;
    }
    nav{
        display:flex;
        justify-content: right;
        margin-right:10px;
        margin-top:3px;
        font-family: "Rajdhani", serif;
        font-weight: 300;
        font-style: normal;
        font-size:16px;
    }
}